---
// Comments //
/* This file is used to render the About Me page. It uses the BaseHead, Header, 
and Footer components to render the page content. */
//imports
// The BaseHead component is imported from the components folder. //
import BaseHead from '../components/BaseHead.astro';
// The Header component is imported from the components folder. //
import Header from '../components/Header.astro';
// The Footer component is imported from the components folder. //
import Footer from '../components/Footer.astro';
// The SITE_TITLE and SITE_DESCRIPTION constants are imported from the consts file. //
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---
<!doctype html>
<html lang="en">
	<head>
		<!-- The BaseHead component is rendered with the SITE_TITLE and SITE DESCRIPTION -->
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>About</h1>
			<p>
				Hi there! I am <a href="https://registry.jsonresume.org/Traves-Theberge"
				>Traves Theberge</a>
				a Canadian Indigenous professional passionate about technology and Indigenous language revitalization. My journey has taken me through various fields, from systems design and hardware installation to project management to language revitalization and cultural initiatives.
			</p>
			<p>
				This diverse experience has equipped me to tackle modern challenges with creativity and confidence. I'm deeply committed to preserving Indigenous languages and exploring how technology can support this mission. My work in different roles has shown me the powerful impact of combining cultural heritage with technological innovation.
			</p>
			<p>
				This blog is a space to share my journey toward becoming a software developer. I'll be documenting my progress, sharing insights, and exploring how we can use technology to build a more inclusive future. 
			</p>
			<p>	
				Join me as I navigate this exciting path, blending my technical skills with my passion for cultural heritage!
			</p>
		</main>
		<Footer />
	</body>
</html>
