---
// Comments //
/* This file is used to render the Projects page. It uses the BlogPost layout
to render the page content. */
//imports
// The Layout component is imported from the layouts folder. //
import Layout from '../layouts/BlogPost.astro';
// The Layout component is imported from the layouts folder. //
---
<!-- The Layout component is imported from the layouts folder. -->
<Layout
	title="Projects"
	description="My personal and community projects."
	pubDate={new Date('2024-06-25')}
>	
	<p>
<h4>Current Projects</h4>
<ul>
  <li>
    <strong>Project 1 - Mi'gmaq Language dictionary</strong>
    <br>
    <a href="https://migmaq-foundation.vercel.app/">Mi'gmaq Language dictionary</a>
  </li>
  <li>
    <strong>Project 2 - This Blog built with Astro.js + TinaCMS!</strong>
    <br>
    <a href="https://blog-traves.vercel.app/">Traves Theberge's Blog</a>
  </li>
  <li>
    <strong>Project 3 - Chatbot project</strong> is a real-time chatbot application built with the following technologies:
	<br>
    <a href="https://github.com/Traves-Theberge/chatbot_project/">Chatbot Project</a>
    <ul>
      <li>Frontend: HTML, CSS (Tailwind CSS), JavaScript</li>
      <li>Backend: Node.js, Express</li>
      <li>Database: Supabase</li>
      <li>Real-time Communication: Socket.IO</li>
      <li>AI: OpenAI API for chatbot responses</li>
    </ul>
  </li>
</ul>
	</p>

	<p> 
		<h4>Community Projects</h4>
					<li> JSON Resume - Want a JSON-based standard for resumes, For developers, by developers? - Check out 
					<a href="https://jsonresume.org/">Json.resume.org </a>
					by <a href="https://github.com/thomasdavis">Thomas Davis</a>.
					</li>
	</p>
</Layout>
