---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Projects"
	description="ASF"
	pubDate={new Date('2024-06-25')}
>	
	<p>
		<h5>Current Projects</h1>
	<li>
Project 1 - Mi'gmaq Language dictionary
 <a href="https://migmaq-foundation.vercel.app/">Mi'gmaq Language dictionary</a>
	</li>
		<li>
 		Project 2 - Astro blog
		<a href="https://blog-traves.vercel.app/">Traves Theberge's Blog</a>
		</li>
	</p>
</Layout>
